<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- 定义变量 -->
    <Properties>
        <Property name="LOG_HOME">./logs</Property>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        
        <!-- 文件输出 -->
        <RollingFile name="FILE" fileName="${LOG_HOME}/fastlcdp.log"
                     filePattern="${LOG_HOME}/fastlcdp.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        
        <!-- 错误日志单独输出 -->
        <RollingFile name="ERROR_FILE" fileName="${LOG_HOME}/error.log"
                     filePattern="${LOG_HOME}/error.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <!-- 设置特定包的日志级别 -->
        <Logger name="cn.com.traninfo.fastlcdp" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="ERROR_FILE"/>
        </Logger>
        
        <!-- 根日志级别 -->
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="ERROR_FILE"/>
        </Root>
    </Loggers>
</Configuration>